body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
  }
  body{
    font-family: Nunito, Helvetica, Arial, sans-serif;
    color: #222;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  *{
    box-sizing: border-box;
  }
  /*Header*/
  .menu-bg{
    background-color: #222;
  }
  .menu h1, a{
    color: white;
  }
  .container-menu{
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 5px 0;
  }
  .logo img{
    height: 1.25em;
  }
  .logo a{
      font-size: 2.25em;
      font-weight: bold;
      margin: 15px 10px;
  }
  .nav-menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-menu a{
    display: block;
    padding: 10px 15px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 1.25em;
  }
  .nav-menu a:hover{
    color: rgb(31, 175, 31);
  }

  /*Conteudo*/
.container-titulos{
    max-width: 960px;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}
.titulos h1{
    font-size: 3.0em;
    margin: 60px auto;
    padding: 30px;
    padding-bottom: 70px;
    border-bottom: 2px solid rgb(31, 175, 31);
}
.titulos p{
    font-size: 1.50em;
    padding: 30px;
}
.titulos a{
    color: rgb(31, 175, 31);
}
.container-select{
    display: block;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    font-size: 1.50em;
    padding: 30px;
    justify-content: center;
}
select{
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 3px black;
}
.img-locais{
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 6px black; */
}
.container-cards{
    max-width: 960px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.cards-lugares{
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
figcaption{
    text-align: center;
    padding-bottom: 8px;
    font-weight: bold;
}
.cards{
    max-width: 400px;
    padding: 10px;
}
.cards p{
    text-align: center;
}
  /*Footer*/
.container-footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #222;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.redes-sociais{
    margin: 0 auto;
    padding: 10px;
}
.redes-sociais img{
    height: 2.5em;
    margin: 20px;
}